<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>POLL</title>
		<meta charset="utf-8">    
		
		<!--[if (gte IE 6)&(lte IE 8)]>
		  <script type="text/javascript" src="js/selectivizr.js"></script>
		<![endif]--> 

		<link rel="stylesheet" type="text/css" href="css/css.css" media="all">
		<style type="text/css">	
			/* картинки генерируем для каждого опроса отдельно */
			
			input[type=checkbox] + label > .img{
				background: url('img/chkbx1_0.png')  right top no-repeat;	
			}

			input[type=checkbox]:checked + label > .img{  
				background: url('img/chkbx1_1.png')  right top no-repeat; 
			} 
		</style>
	</head>
<body  style="background:grey;">
<div class="main">
	<form id="form" action="javascript:void(null);"  method="post">	
	
		<div class="radio_group">
			<!-- 
			для показа как будет если скрыть заголовок
			<div class="header" style="display:none;"><span style="font-size:30px;">Please select an option <br>22<br>333<br>333<br>below.Tell us about you!</span></div> -->
			<div class="drop-block">
				<div class="header">
					<span style="font-size:30px;">Please <span style="color:green;text-decoration:underline;">select an opti</span>on 
					below.<i><u>Tell us</u></i> about you!</span>
				</div>

				<select style="font-size:30px;">
					<option value="1">1231321321321321</option>
					<option value="2">1231321321321321</option>
					<option value="3">1231321321321321</option>
					<option value="4">1231321321321321</option>
				</select>
			</div>
			
			<div class="drop-block">
				<div class="header">
					<span style="font-size:30px;">Please <span style="color:green;text-decoration:underline;">select an opti</span>on 
					below.<i><u>Tell us</u></i> about you!</span>
				</div>

				<select style="font-size:30px;">
					<option value="1">1231321321321321</option>
					<option value="2">1231321321321321</option>
					<option value="3">1231321321321321</option>
					<option value="4">1231321321321321</option>
				</select>
			</div>
			
			<div class="drop-block">
				<div class="header">
					<span style="font-size:30px;">Please <span style="color:green;text-decoration:underline;">select an opti</span>on 
					below.<i><u>Tell us</u></i> about you!</span>
				</div>

				<select style="font-size:30px;">
					<option value="1">1231321321321321</option>
					<option value="2">1231321321321321</option>
					<option value="3">1231321321321321</option>
					<option value="4">1231321321321321</option>
				</select>
			</div>
			
			<div class="drop-block">
				<div class="header">
					<span style="font-size:30px;">Please <span style="color:green;text-decoration:underline;">select an opti</span>on 
					below.<i><u>Tell us</u></i> about you!</span>
				</div>

				<select style="font-size:30px;">
					<option value="1">1231321321321321</option>
					<option value="2">1231321321321321</option>
					<option value="3">1231321321321321</option>
					<option value="4">1231321321321321</option>
				</select>
			</div>

		</div> 
		
		
		<div  class="subm"><div><!-- не удалять --></div></div>	
		<input type="submit" value="ok" style="display:none">
	</form>


</div><script src="js/js1.js"></script>
</body>
</html>
