*{
	margin: 0 auto;
	padding: 0;
}
body{
	width: 800px;
	height: 600px;
	border: 1px solid black;
}
.left_header{
	text-align: center;
	padding-top: 10px;
	float: left;
	width: 200px;
	/*background: blue;*/
}
.heder_center{
	float: left;
	padding-top: 20px;
	text-align: center;	
	width: 400px;
	/*background: aqua;*/
}
.right_header{
	float: left;
	/*background: green;*/
	width: 200px;
	text-align: center;
	padding-top: 15px;
}
.left_content{
	width: 200px;
	float: left;
}
.dd{
	/*padding-left: 15px;*/
}
.right_content{
	height: 500px;
	float: left;
	width: 598px;
	border: 1px solid black;
	/*padding: 10px;*/
}
.footer{

}
.clear{
	clear: both;
}
/*body{
	background: #cfcdcb;
}
#header{
	padding-bottom: 60px;
}
#find{
	float: right;
	padding: 10px;
}
#content{
	min-height: 450px;
}
#data,#nav,#textmes{
	background: aqua;
}
#topic_table{
	border-color: black;
}
#nav{
	padding: 5px;
}
#navbut{
	text-decoration: none;
}
#navbut:hover,#navbut{
	color: blue;
}
#topic_view,#messages{
	margin: 0 auto;
}
#mes{
	padding:8px;
}
#dat{
	text-align: right;
	background-color: gray;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#admes{
	padding-top: 30px;
	width: 500px;
	display: block;
	margin: 0 auto;
	
}
#addmestext,#but{
	width: 500px;
	display: block;
}
textarea#message{
	width: 494px;
}
#addmestext,#but,#footer{
	text-align: center;
}
#addmestext,#date,#shapka{
	background: gray;
}
#footer{
	margin-top:20px;
}
#resfind{
	padding-left: 10px;
	padding-bottom: 10px;
}
#topic{
	padding-left: 5px;
	padding-top: 5px;
}
#page,#textmes{
	padding: 5px;
}
#textmes{
	word-wrap: break-word;
}#clear,#admes,#content{
	clear: both;
}*/